{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h2 class="card-title"> Check your Emissions </h2>
          </div>
          <div class="card-body">
            <iframe width="1550" height="500" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" src="https://calculator.carbonfootprint.com/calculator.aspx"></iframe>
          </div>
          <div class="card">
            <div class ="card-header">
              <h2 class="card-title"> Log your Emissions </h2>
            </div>
            <form method="post" enctype="multipart/form-data">
              <label>Username</label>
              <input name="user" id="user" value="{{request.form['user']}}" type="string" class="form-control" placeholder="Username">

              <label>Date</label>
              <select name="month" id="month" value="{{request.form['month']}}" placeholder="MM">
                <option name="" value="" style="display:none;">MM</option>
                <option name="January" value="Jan">January</option>
                <option name="February" value="Feb">February</option>
                <option name="March" value="Mar">March</option>
                <option name="April" value="Apr">April</option>
                <option name="May" value="May">May</option>
                <option name="June" value="Jun">June</option>
                <option name="July" value="Jul">July</option>
                <option name="August" value="Aug">August</option>
                <option name="September" value="Sep">September</option>
                <option name="October" value="Oct">October</option>
                <option name="November" value="Nov">November</option>
                <option name="December" value="Dec">December</option>
              </select>

              <label>House Emissions (metric tons) </label>
              <input name="house" id="house" value="{{request.form['house']}}" type="number" class="form-control" placeholder="0">
 
              <label>Car Emissions (metric tons) </label>
              <input name="car" id="car" value="{{request.form['car']}}" type="number" class="form-control" placeholder="0">

              <label>Flight Emissions (metric tons)</label>
              <input name="flight" id="flight" value="{{request.form['flight']}}" type="number" class="form-control" placeholder="0">
  
              <label>Other Transport (Motorbike + Bus and Rail) (metric tons) </label>
              <input name="other" id="other" value="{{request.form['other']}}" type="number" class="form-control" placeholder="0">
 
              <label>Secondary Emissions</label>
              <input name="secondary" id="secondary" value="{{request.form['secondary']}}" type="number" class="form-control" placeholder="0">

              <input type="submit" value="submit">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
