{% extends "layouts/base.html" %}

{% block title %} Typography {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header mb-5">
            <h3 class="card-title">Carbon Emissions Tracker</h3>
          </div>
          <div class="card-body">
            <div class="typography-line">
              <h1> Why Care? </h1>
            </div>
            <div class="typography-line">
              <blockquote>
                <p class="blockquote blockquote-primary">
                  "It is often the small steps, not the giant leaps, that bring about the most lasting change." 
                  <br>
                  <small>
                    - Queen Elizabeth II
                  </small>
                </p>
              </blockquote>
            </div>
            <div class="typography-line">
              <h3><span>Our Warming World: </span> The problem of carbon emissions</h3>
            </div>
            <div class="typography-line">
              <p><span>The Issue</span>
                The world is ending. Or at least, it’s on its way there. Humans are ever-hungry for energy. Whether for transportation, lighting, farming, electricity, or more, we can’t get enough of it. Unfortunately, the main way to produce energy today is through burning fossil fuels, which releases huge amounts of carbon dioxide: a “greenhouse gas.” This means our atmosphere is trapping more and more heat, warming the global climate at an increasing pace every year. This has disastrous consequences for the water supply, ecosystems, weather phenomena, ocean levels, and human development. All the while, governments continue to drag their feet at tackling the problem directly. This issue brings attention to the question:  
              </p>
            </div>
            <div class="typography-line">
              <span>The result</span>
              <p class="text-primary">
                What can we citizens even do?
              </p>
            </div>
            <div class="typography-line">
              <p><span>The Issue</span>
              Here's how <strong>YOU</strong> can help. Reduce your carbon emissions using this tracker today. If everyone does their part, we can significantly reduce our carbon footprint as a species. Check your carbon emissions below, make changes, and track how much you improve over time! Get involved politically, and make sure big companies are held accountable as well.
              </p>
            </div>
            <div class="typography-line">
              <span>The result</span>
              <p class="text-danger">
                The world is warming, and it is our fault, don't let it get out of control.
              </p>
            </div>
            <div>
            </div>
            <div class="{% if 'typography' in segment %} active {% endif %}">
              <span>
              <a href="/tables.html">
                <i class="tim-icons icon-puzzle-10"></i>
                <p>Check YOUR Emissions</p>
              </a>
              </span>
            </div>
            <div class="{% if 'index' in segment %} active {% endif %}">
                    <a href="/">
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <p>Log and Dashboard</p>
                    </a>
            </div>
            <div class="{% if 'icons' in segment %} active {% endif %}">
                    <a href="/icons.html">
                        <i class="tim-icons icon-atom"></i>
                        <p>Get Involved</p>
                    </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
