{% extends "layouts/base.html" %}

{% block title %} Typography {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header mb-5">
            <h3 class="card-title">Carbon Emissions Tracker</h3>
          </div>
          <div class="card-body">
            <div class="typography-line">
              <h1> Why Care? </h1>
            </div>
            <div class="typography-line">
              <blockquote>
                <p class="blockquote blockquote-primary">
                  "It is often the small steps, not the giant leaps, that bring about the most lasting change." 
                  <br>
                  <small>
                    - Queen Elizabeth II
                  </small>
                </p>
              </blockquote>
            </div>
            <div class="typography-line">
              <h3><span>Header 3</span> The problem of carbon emissions: </h3>
            </div>
            <div class="typography-line">
              <p><span>Paragraph</span>
                Elaboration here
              </p>
            </div>
            <div class="typography-line">
              <span>Muted Text</span>
              <p class="text-muted">
                I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
              </p>
            </div>
            <div class="typography-line">
              <span>Primary Text</span>
              <p class="text-primary">
                I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...</p>
            </div>
            <div class="typography-line">
              <span>Info Text</span>
              <p class="text-info">
                I will be the leader of a company that ends up being worth billions of dollars, because I got the answers... </p>
            </div>
            <div class="typography-line">
              <span>Success Text</span>
              <p class="text-success">
                I will be the leader of a company that ends up being worth billions of dollars, because I got the answers... </p>
            </div>
            <div class="typography-line">
              <span>Warning Text</span>
              <p class="text-warning">
                I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
              </p>
            </div>
            <div class="typography-line">
              <span>Danger Text</span>
              <p class="text-danger">
                I will be the leader of a company that ends up being worth billions of dollars, because I got the answers... </p>
            </div>
            <div class="{% if 'typography' in segment %} active {% endif %}">
              <span></span>
              <a href="/tables.html">
                <i class="tim-icons icon-puzzle-10"></i>
                <p>Check YOUR Emissions</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
